<h2>РЕЕСТР ВЫДАННЫХ ДОСТУПОВ</h2>

<%= form_with model: @access_registrys do |f| %>
  <div class="field">
    <%= f.label "Login" %><br />
    <%= f.text_field :login, autocomplete: "login" %>
  </div>

  <div class="field">
    <%= f.label "Password" %><br />
    <%= f.text_field :password, autocomplete: "password" %>
  </div>

  <div class="field">
    <%= f.label "Дата поступления заявления" %><br />
    <%= f.date_select :date_application, autocomplete: "date_application" %>
  </div>

  <div class="field">
    <%= f.label "Дата выдачи" %><br />
    <%= f.date_select :date_issue, autocomplete: "date_issue" %>
  </div>


  <div class="actions">
    <%= f.submit "add" %>
  </div>
<% end %>
