<% register_of_owners.each do |owner| %>
  <% access_registry_id = AccessRegistry.find_by(register_of_owners_id: owner.id) %>
  <tr>
    <th class="text-center" scope="row"><%= owner.id %></th>
    <td class="text-center"><%= owner.first_name %></td>
    <td class="text-center"><%= link_to owner.last_name, edit_access_registry_path(owner.id) %></td>
    <td class="text-center"><%= owner.middle_name %></td>
    <td class="text-center"><%= owner.email %></td>
    <td class="text-center"><%= owner.city %></td>
    <td class="text-center"><%= owner.street %></td>
    <td class="text-center"><%= owner.house_no %></td>
    <td class="text-center"><%= owner.apartment_no %></td>
    <td class="text-center"><%= owner.number_owners %></td>
    <td class="text-center"><%= owner.phone %></td>
    <time><td class="text-center"><%= owner.subscriber_blocking_date&.to_date&.strftime("%d.%m.%y") %></td></time>
    <time><td class="text-center"><%= owner.home_activation_date&.to_date&.strftime("%d.%m.%y") %></td></time>
    <td class="text-center"><%= owner.serial_number %></td>
    <td class="text-center"><%= owner.contractor %></td>
    <td class="text-center"><%= owner.personal_account %></td>
    <td class="text-center"><%= owner.scans.each do |scan|
      if scan.representable?
          image_tag scan.representation(resize_to_limit: [100, 100])
        end
      end%>
    </td>
    <td class="text-center">
      <%= link_to fa_icon('pencil'), edit_register_of_owner_path(owner), class: 'btn btn-info btn-sm' %>
      <% unless action_name == 'import' %>
        <%= link_to fa_icon('trash-o'), owner, data: { turbo_method: "delete", turbo_confirm: "Вы уверены?" }, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </td>
  </tr>
<% end %>
