<section class="post-head">
  <h4>РЕДАКТИРОВАНИЕ ПОЛЕЙ</h4>
</section>

<section class="post-summary">
  <small>
    <%= form_with model: @register_of_owner, local: true, html: { multipart: true } do |f| %>
      <div class="row g-3">
        <div class="col">
          <%= f.label :first_name, "Имя" %>
          <%= f.text_field :first_name, class: "form-control", placeholder: "Имя", autocomplete: "first_name" %>
        </div>
        <div class="col">
          <%= f.label :last_name, "Фамилия" %>
          <%= f.text_field :last_name, class: "form-control", placeholder: "Фамилия", autocomplete: "last_name" %>
        </div>
        <div class="col">
          <%= f.label :middle_name, "Отчество" %>
          <%= f.text_field :middle_name, class: "form-control", placeholder: "Отчество", autocomplete: "middle_name" %>
        </div>
      </div>

      <div class="row g-3">
        <div class="col">
          <%= f.label :personal_account, "Лицевой счет" %>
          <%= f.text_field :personal_account, class: "form-control", placeholder: "Лицевой счет", autocomplete: "personal_account" %>
        </div>
        <div class="col">
          <%= f.label :city, "Город" %>
          <%= f.text_field :city, class: "form-control", placeholder: "Город", autocomplete: "city" %>
        </div>
        <div class="col">
          <%= f.label :street, "Улица" %>
          <%= f.text_field :street, class: "form-control", placeholder: "Улица", autocomplete: "street" %>
        </div>
      </div>

      <div class="row g-3">
        <div class="col">
          <%= f.label :house_no, "Дом №" %>
          <%= f.text_field :house_no, class: "form-control", placeholder: "Дом №", autocomplete: "house_no" %>
        </div>
        <div class="col">
          <%= f.label :apartment_no, "Квартира №" %>
          <%= f.text_field :apartment_no, class: "form-control", placeholder: "Квартира №", autocomplete: "apartment_no" %>
        </div>
        <div class="col">
          <%= f.label :number_owners, "Кол-во собственников" %>
          <%= f.text_field :number_owners, class: "form-control", placeholder: "Кол-во собственников", autocomplete: "number_owners" %>
        </div>
      </div>

      <div class="row g-3">
        <div class="col">
          <%= f.label :phone, "Телефон" %>
          <%= f.text_field :phone, class: "form-control", placeholder: "Телефон", autocomplete: "phone" %>
        </div>
        <div class="col">
          <%= f.label :email, "@ email" %>
          <%= f.email_field :email, class: "form-control", placeholder: "@ email", autocomplete: "email", autofocus: true %>
        </div>
        <div class="col">
          <%= f.label :serial_number, "Серийный №" %>
          <%= f.text_field :serial_number, class: "form-control", placeholder: "Серийный №", autocomplete: "serial_number" %>
        </div>
        <div class="col">
          <%= f.label :contractor, "Подрядчик" %>
          <%= f.text_field :contractor, class: "form-control", placeholder: "Подрядчик", autocomplete: "contractor" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :home_activation_date, "Дата блокировки абонента" %><br />
        <%= f.date_field :home_activation_date, class: "form-control", autocomplete: "home_activation_date" %>
      </div>

      <div class="field">
        <%= f.label :subscriber_blocking_date, "Доступ" %><br />
        <%= f.date_field :subscriber_blocking_date, class: "form-control", autocomplete: "subscriber_blocking_date" %>
      </div>

      <div class="field">
        <%= f.label :scans, "Документы" %><br />
        <%= f.file_field :scans, class: "form-control" %>
      </div>

      <div class="btn-group">
        <div class="actions">
          <%= f.submit "Изменить", class: 'btn btn-success btn-sm' %>
          <%= link_to "Назад", register_of_owners_path, class: 'btn btn-success btn-sm', 'data-turbolinks': 'false' %>
        </div>
      </div>
    <% end %>
  </small>
</section>
