<section class="post-head">
  <h4 class="text-center">Поиск задолжностей по Л/С</h4>
</section>

  <table class="table caption-top">
    <%= form_with url:  register_of_owners_import_path do |f| %>
      <p class="mb-sm text-red">
        <div class="field">
          <%= f.label "Ведомость" %><br />
          <%= f.file_field :statement, class: 'btn btn-success btn-sm' %>
        </div>
      </p>
      <div class="btn-group">
        <div class="actions">
          <%= f.submit "Найти", class: 'btn btn-success btn-sm', data: { turbolinks: false } %>
          <%= link_to register_of_owners_path do %>
            <button class="btn btn-success btn-sm">Назад</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </table>
