<div class="table-responsive">
  <table class="table caption-top">
    <caption>Список заявителей</caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Отчество</th>
        <th scope="col">Email</th>
        <th scope="col">Город</th>
        <th scope="col">Улица</th>
        <th scope="col">Д.№</th>
        <th scope="col">Кв. №</th>
        <th scope="col">Кол. соб.</th>
        <th scope="col">Телефон</th>
        <th scope="col">Д.актив. дома</th>
        <th scope="col">Д.Блок. абонента</th>
        <th scope="col">Сер. №</th>
        <th scope="col">Подрядчик</th>
        <th scope="col">Лиц. Счет</th>
        <th scope="col">Заявление</th>
        <th scope="col">Действия</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @register_of_owners.each do |owner| %>
        <tr>
          <th scope="row"><%= owner.id %></th>
          <td><%= owner.first_name %></td>
          <td><%= owner.last_name %></td>
          <td><%= owner.middle_name %></td>
          <td><%= owner.email %></td>
          <td><%= owner.city %></td>
          <td><%= owner.street %></td>
          <td><%= owner.house_no %></td>
          <td><%= owner.apartment_no %></td>
          <td><%= owner.number_owners %></td>
          <td><%= owner.phone %></td>
          <time><td><%= owner.subscriber_blocking_date.to_date.strftime("%d.%m.%y") %></td></time>
          <time><td><%= owner.home_activation_date.to_date.strftime("%d.%m.%y") %></td></time>
          <td><%= owner.serial_number %></td>
          <td><%= owner.contractor %></td>
          <td><%= owner.personal_account %></td>
          <td><%= owner.scans.each do |scan|
                if scan.representable?
                  image_tag scan.representation(resize_to_limit: [100, 100])
                end
              end%>
          </td>
          <td>
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><%= link_to 'Редактировать', edit_register_of_owner_path(owner), class: 'btn btn-info' %></button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><%= link_to 'Удалить', owner, data: { turbo_method: "delete", turbo_confirm: "Вы уверены?" }, class: 'btn btn-danger' %></button>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
