<section class="post-head">
  <h4>РЕЕСТР СОБСТВЕННИКОВ</h4>
</section>

<section class="post-summary">
  <small>
    <table>
      <tbody>
        <%= form_for @register_of_owner do |f| %>
          <div class="field">
            <%= f.label "Имя" %><br />
            <%= f.text_field :first_name, autocomplete: "first_name", class: "form-group col-md-2", placeholder: "Имя" %>
          </div>

          <div class="field">
            <%= f.label "Фамилия" %><br />
            <%= f.text_field :last_name, autocomplete: "last_name", class: "form-group col-md-2", placeholder: "Фамилия" %>
          </div>

          <div class="field">
            <%= f.label "Отчество" %><br />
            <%= f.text_field :middle_name, autocomplete: "middle_name", class: "form-group col-md-2", placeholder: "Отчество" %>
          </div>

          <div class="field">
            <%= f.label "Лицевой счет" %><br />
            <%= f.text_field :personal_account, autocomplete: "personal_account", class: "form-group col-md-2", placeholder: "Лицевой счет" %>
          </div>

          <div class="field">
            <%= f.label "Город" %><br />
            <%= f.text_field :city, autocomplete: "city", class: "form-group col-md-2", placeholder: "Город" %>
          </div>

          <div class="field">
            <%= f.label "Улица" %><br />
            <%= f.text_field :street, autocomplete: "street", class: "form-group col-md-2", placeholder: "Улица" %>
          </div>

          <div class="field">
            <%= f.label "Дом №" %><br />
            <%= f.text_field :house_no, autocomplete: "house_no", class: "form-group col-md-2", placeholder: "Дом №" %>
          </div>

          <div class="field">
            <%= f.label "Квартира №" %><br />
            <%= f.text_field :apartment_no, autocomplete: "apartment_no", class: "form-group col-md-2", placeholder: "Квартира №" %>
          </div>

          <div class="field">
            <%= f.label "Кол-во собственников" %><br />
            <%= f.text_field :number_owners, autocomplete: "number_owners", class: "form-group col-md-2", placeholder: "Кол-во собственников" %>
          </div>

          <div class="field">
            <%= f.label "Телефон" %><br />
            <%= f.text_field :phone, autocomplete: "phone", class: "form-group col-md-2", placeholder: "Телефон" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-group col-md-2", placeholder: "@ email" %>
          </div>

          <div class="field">
            <%= f.label "Дата активации дома" %><br />
            <%= f.date_select :home_activation_date, autocomplete: "home_activation_date" %>
          </div>

          <div class="field">
            <%= f.label "Дата блокировки абонента" %><br />
            <%= f.date_select :subscriber_blocking_date, autocomplete: "subscriber_blocking_date" %>
          </div>

          <div class="field">
            <%= f.label "Серийный №" %><br />
            <%= f.text_field :serial_number, autocomplete: "serial_number", class: "form-group col-md-2", placeholder: "Серийный №" %>
          </div>

          <div class="field">
            <%= f.label "Подрядчик" %><br />
            <%= f.text_field :contractor, autocomplete: "contractor", class: "form-group col-md-2", placeholder: "Подрядчик" %>
          </div>

          <p class="mb-sm text-red">
            <div class="field">
              <%= f.label "Документы" %><br />
              <%= f.file_field :scans %>
            </div>
          </p>

          <p class="mb-sm text-red">
            <div class="actions">
              <%= f.submit "add", class: 'btn btn-light' %>
            </div>
          </p>
        <% end %>
      </tbody>
    </table>
  </small>
</section>
