<section class="post-head">
  <h4 class="text-center">Добавить собственника</h4>
</section>

<% if @register_of_owner.errors.full_messages.any? %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <li>Все поля должны быть заполнены!!!</li>
      <% @register_of_owner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="post-summary">
  <small>
    <%= form_for @register_of_owner, html: { multipart: true } do |f| %>
      <div class="row g-3">
        <div class="col">
          <%= f.label :first_name, "Имя", class: "form-label" %>
          <%= f.text_field :first_name, class: "form-control", placeholder: "Имя" %>
        </div>
        <div class="col">
          <%= f.label :last_name, "Фамилия", class: "form-label" %>
          <%= f.text_field :last_name, class: "form-control", placeholder: "Фамилия" %>
        </div>
        <div class="col">
          <%= f.label :middle_name, "Отчество", class: "form-label" %>
          <%= f.text_field :middle_name, class: "form-control", placeholder: "Отчество" %>
        </div>
      </div>

      <div class="row g-3">
        <div class="col">
          <%= f.label :personal_account, "Лицевой счет", class: "form-label" %>
          <%= f.text_field :personal_account, class: "form-control", placeholder: "Лицевой счет" %>
        </div>
        <div class="col">
          <%= f.label :city, "Город", class: "form-label" %>
          <%= f.text_field :city, class: "form-control", placeholder: "Город" %>
        </div>
        <div class="col">
          <%= f.label :street, "Улица", class: "form-label" %>
          <%= f.text_field :street, class: "form-control", placeholder: "Улица" %>
        </div>
      </div>

      <div class="row g-3">
        <div class="col">
          <%= f.label :house_no, "Дом №", class: "form-label" %>
          <%= f.text_field :house_no, class: "form-control", placeholder: "Дом №" %>
        </div>
        <div class="col">
          <%= f.label :apartment_no, "Квартира №", class: "form-label" %>
          <%= f.text_field :apartment_no, class: "form-control", placeholder: "Квартира №" %>
        </div>
        <div class="col">
          <%= f.label :number_owners, "Корпус", class: "form-label" %>
          <%= f.text_field :number_owners, class: "form-control", placeholder: "Кол-во собственников" %>
        </div>
      </div>

      <div class="row g-3">
        <div class="col">
          <%= f.label :phone, "Телефон", class: "form-label" %>
          <%= f.text_field :phone, class: "form-control", placeholder: "Телефон", id: "phone" %>
        </div>
        <div class="col">
          <%= f.label :email, "@email", class: "form-label" %>
          <%= f.email_field :email, class: "form-control", placeholder: "@email", autofocus: true %>
        </div>
        <div class="col">
          <%= f.label :serial_number, "Серийный №", class: "form-label" %>
          <%= f.text_field :serial_number, class: "form-control", placeholder: "Серийный №" %>
        </div>
        <div class="col">
          <%= f.label :contractor, "Подрядчик", class: "form-label" %>
          <%= f.text_field :contractor, class: "form-control", placeholder: "Подрядчик" %>
        </div>
      </div>

      <div class="row g-3">
        <div class="col">
          <%= f.label :home_activation_date, "Доступ", class: "form-label" %>
          <%= f.date_field :home_activation_date, class: "form-control" %>
        </div>
      </div>

      <div class="form-check form-switch mt-3">
        <%= f.check_box :subscriber_blocking_date_enabled, class: "form-check-input", id: "blocking_date_toggle" %>
        <%= f.label :subscriber_blocking_date_enabled, "Дата блокировки абонента", class: "form-check-label", for: "blocking_date_toggle" %>
      </div>
      <div id="blocking_date_field" class="mt-2" style="display: none;">
        <%= f.date_field :subscriber_blocking_date, class: "form-control" %>
      </div>

      <div class="row g-3">
        <div class="col">
          <%= f.label :scans, "Документы", class: "form-label" %>
          <%= f.file_field :scans, multiple: true, class: "btn btn-success btn-sm" %>
        </div>
      </div>

      <div class="btn-group mt-3">
        <%= f.submit "Добавить", class: "btn btn-success btn-sm", data: { turbolinks: false } %>
        <%= link_to "Назад", register_of_owners_path, class: "btn btn-secondary btn-sm", data: { turbolinks: false } %>
      </div>
    <% end %>
  </small>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/inputmask.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const phoneInput = document.getElementById('phone');
    const mask = new Inputmask('+7 (999) 999-99-99');  // Маска для телефона с +7 на начале
    mask.mask(phoneInput);
  });
</script>
