<table class="table caption-top">
  <caption>Список выданных доступов</caption>
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default"><%= link_to 'Новый доступ', new_access_registry_path, class: 'btn btn-success btn-sm' %></button>
    </div>
  </div>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Login</th>
      <th scope="col">Password</th>
      <th scope="col">Дата поступления</th>
      <th scope="col">Дата выдачи</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @access_registries.each do |registry| %>
      <tr>
        <th scope="row"><%= registry.id %></th>
        <td><%= registry.login %></td>
        <td><%= registry.password %></td>
        <td><%= registry.date_application.to_date.strftime("%d.%m.%y") %></td>
        <td><%= registry.date_issue.to_date.strftime("%d.%m.%y") %></td>
        <td>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"><%= link_to 'Ред.', edit_access_registry_path(registry), class: 'btn btn-info btn-sm' %></button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"><%= link_to 'Удалить', registry, data: { turbo_method: "delete", turbo_confirm: "Вы уверены?" }, class: 'btn btn-outline-danger btn-sm' %></button>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
