<table class="table caption-top">
  <h4 class="text-center">Реестр выданных доступов</h4>
  <div class="text-center mb-2">
    <button type="button" class="btn btn-success btn-sm" onclick="window.location='<%= new_access_registry_path %>'">
      Новый доступ
    </button>
  </div>

  <thead class="table-light text-center">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Login</th>
      <th scope="col">Серийный номер</th>
      <th scope="col">Дата Заявки</th>
      <th scope="col">Дата выдачи</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <% @access_registries.each do |registry| %>
      <tr>
        <th scope="row"><%= registry.id %></th>
        <td><%= registry.login %></td>
        <td><%= registry.serial_number %></td>
        <td><%= registry.date_application.strftime("%d.%m.%y") %></td>
        <td><%= registry.date_issue.strftime("%d.%m.%y") %></td>
        <td>
          <%= link_to fa_icon('pencil'), edit_access_registry_path(registry), class: 'btn btn-info btn-sm' %>
          <%= link_to fa_icon('trash-o'), registry, data: { turbo_method: "delete", turbo_confirm: "Вы уверены?" }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination justify-content-center">
  <%= will_paginate @access_registries, renderer: BootstrapPagination::Rails %>
</div>
