<table class="table caption-top">
  <caption>Реестр докуметнов домов</caption>
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default"><%= link_to 'Добавить адрес', new_register_of_document_path, class: 'btn btn-success btn-sm' %></button>
    </div>
  </div>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Город</th>
      <th scope="col">Улица</th>
      <th scope="col">Дом №</th>
      <th scope="col">Сканы</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @register_of_documents.each do |doc| %>
      <tr>
        <th scope="row"><%= doc.id %></th>
        <td><%= doc.city %></td>
        <td><%= doc.street %></td>
        <td><%= doc.house_no %></td>
        <td><%= doc.datascans.each do |scan|
              if scan.representable?
                image_tag scan.representation(resize_to_limit: [100, 100])
              end
            end%>
        </td>
        <td>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"><%= link_to 'Ред.', edit_register_of_document_path(doc), class: 'btn btn-info btn-sm' %></button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"><%= link_to 'Удалить', doc, data: { turbo_method: "delete", turbo_confirm: "Вы уверены?" }, class: 'btn btn-outline-danger btn-sm' %></button>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
