<article @class="post">
  <section class="post-head">
    <h4>Реестр докуметнов домов</h4>
    <small>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Город</th>
            <th>Улица</th>
            <th>Дом №</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      </table>
    </small>
  </section>

  <section class="post-summary">
    <small>
      <table>
        <tbody>
          <% @register_of_documents.each do |doc| %>
            <tr>
              <td><%= doc.id %></td>
              <td><%= doc.city %></td>
              <td><%= doc.street %></td>
              <td><%= doc.house_no %></td>
              <td>
                  <%= link_to 'Ред.', edit_register_of_document_path(doc), class: 'btn btn-outline-secondary' %>
                  <%= link_to 'Удалить', doc, data: { turbo_method: "delete", turbo_confirm: "Вы уверены?" }, class: 'btn btn-outline-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </small>
  </section>
</article>
