<article @class="post">
  <sectio class="post-head">
    <h2>Редактирование информации</h2>
  </sectio>

  <section class="post-summary">
    <small>
      <table>
        <tbody>
          <%= form_for @service_cancellation do |f| %>
            <div class="row g-3">
              <div class="col">
                <label for="inputEmail4" class="form-label">Имя</label>
                <input type="text" class="form-control" placeholder="Имя" <%= f.text_field :first_name, autocomplete: "first_name" %></input>
              </div>

              <div class="col">
                <label for="inputEmail4" class="form-label">Фамилия</label>
                <input type="text" class="form-control" placeholder="Фамилия" <%= f.text_field :last_name, autocomplete: "last_name" %></input>
              </div>

              <div class="col">
                <label for="inputEmail4" class="form-label">Отчество</label>
                <input type="text" class="form-control" placeholder="Отчество" <%= f.text_field :middle_name, autocomplete: "middle_name" %></input>
              </div>
            </div>

            <div class="field">
              <%= f.label "Дата отказа" %><br />
              <%= f.date_select :date_rejection, autocomplete: "date_rejection" %>
            </div>

            <p class="mb-sm text-red">
              <div class="actions">
                <%= f.submit "Изменить", class: 'btn btn-light' %>
              </div>
            </p>

            <p class="mb-sm text-red">
              <div class="actions">
                <%= f.submit "Назад", class: 'btn btn-light' %>
              </div>
            </p>
          <% end %>
        </tbody>
      </table>
    </small>
  </section>
</article>
