<h2>ОТКАЗ ОТ УСЛУГИ</h2>

<%= form_with model: @register_of_owner do |f| %>
  <div class="field">
    <%= f.label "Имя" %><br />
    <%= f.text_field :first_name, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label "Фамилия" %><br />
    <%= f.text_field :last_name, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label "Отчество" %><br />
    <%= f.text_field :middle_name, autocomplete: "middle_name" %>
  </div>

  <div class="field">
    <%= f.label "Дата активации дома" %><br />
    <%= f.text_field :date_rejection, autocomplete: "date_rejection" %>
  </div>

  <div class="actions">
    <%= f.submit "add" %>
  </div>
<% end %>
